body{
    background: rgb(250,250,250);
}
.main-from{
    width:300px;
    margin: 20% auto;    
}
.login-form{
    max-width: 300px;
    margin-top:6vh;
    padding: 40px 30px 30px 30px ;
    background: #fff !important;
    border:1px solid #ddd !important;
}
.icon{
color:rgba(0,0,0,0.25);
}
.from-img{
    text-align: center; 
}
.from-img  img{
    height:80px;
}
.ant-form-item{
    margin-bottom: 15px !important;
}
.login-form-forgot {
    float: right;
}
.login-form-button {
    font-size: 1.2em;
    width: 100%;
    height: 2.8rem;
}
.blue{
    color: #1890ff;
}
/* button{
    padding:0;
    border:non
} */
.footer{
    display: block;
    margin-top:20px;
    text-align: center;
}